<md-dialog class="md-modal md-modal-wide location-modal">
	<div class="md-modal-header">
		<h1>Create a New location</h1>
		<div ng-click="ctrl.parent.locations.closeModal()" class="md-close-modal"><i class="mdi mdi-close"></i></div>
	</div>
	<form ng-submit="ctrl.parent.createNewLocation()">

		<div class="errors">
			<div class="error" ng-repeat="error in ctrl.parent.errors">{{ error }}</div>
		</div>

		<md-input-container>
			<label for="name">Name</label>
			<input id="name" type="input" ng-model="ctrl.parent.locationModel.name">
		</md-input-container>

		



	<div class="buttons">
		<md-button type="button" ng-click="ctrl.parent.locations.closeModal()">{{:: 'cancel' | translate }}</md-button>
		<md-button type="submit" class="md-primary md-raised">{{:: 'create' | translate }}</md-button>
	</div>

	</form>
</md-dialog>